<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Word</title>
</head>
<body>

<header>
    <h1>Lantern View Word Search</h1>
</header>

<main>
    <section>

        <h3>Word Search</h3>

        <form>
            <table>
                <tr>
                    <td>Enter a word: </td>
                    <td><input type="text"/></td>
                    <td><button type="submit">Search for Word</button></td>
                    <td><button type="submit">Random Word</button></td>
                </tr>
            </table>
        </form>
    </section>

    <section>

        <h3>Word Search Results</h3>

        <table>
            <tr>
                <td>Word:</td>
                <td></td>
            </tr>
            <tr>
                <td>Definition:</td>
                <td></td>
            </tr>
            <tr>
                <td>Used In a Sentence:</td>
                <td></td>
            </tr>
            <tr>
                <td>Pronunciation:</td>
                <td></td>
            </tr>
        </table>

    </section>

</main>

</body>
</html>