<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Word</title>
</head>
<body>

<h1>Add a New Word to Lantern</h1>

<!--Explore being able to send the object to the API instead of each value-->

<form action="#" th:action="@{/API/addWord}" th:object="${word}" method = get>
    <table>
        <tr>
            <td>Word: </td>
            <td><input type="text" th:field="*{word}"/></td>
            <td th:if="${#fields.hasErrors('word')}" th:errors="*{word}"></td>
        </tr>

        <tr>
            <td>Definition: </td>
        </tr>

        <tr>
            <td>Used In a Sentence: </td>
        </tr>

        <tr>
            <td>Pronunciation: </td>
        </tr>

        <tr>
            <td><button type="submit">Add Word</button></td>
        </tr>
    </table>
</form>

</body>
</html>