<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Word</title>
</head>
<body>

<h1>Add a New Word to Lantern</h1>

<form>
    <table>
        <tr>
            <td>Word: </td>
        </tr>

        <tr>
            <td>Definition: </td>
        </tr>

        <tr>
            <td>Used In a Sentence: </td>
        </tr>

        <tr>
            <td>Pronunciation: </td>
        </tr>

        <tr>
            <td><button type="submit">Add Word</button></td>
        </tr>
    </table>
</form>

</body>
</html>